In [26]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [27]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\manni\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [4]:
news = soup.select_one("div.list_text")
news

<div class="list_text">
<div class="list_date">March 28, 2022</div>
<div class="content_title">NASA Perseverance Mars Rover Scientists Train in the Nevada Desert</div>
<div class="article_teaser_body">Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.</div>
</div>

In [5]:
news_title = news.find("div", class_="content_title").get_text()
news_title

'NASA Perseverance Mars Rover Scientists Train in the Nevada Desert'

In [6]:
news_p = news.find("div", class_="article_teaser_body").get_text()
news_p

"Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year."

In [7]:
url = "https://spaceimages-mars.com"
browser.visit(url)

In [8]:
full_image_button = browser.find_by_tag('button')[1]
full_image_button.click()

In [9]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [10]:
img_url_rel = soup.find('img', class_='fancybox-image')
img_url_rel

In [11]:
img_url_rel = soup.find('img', class_='fancybox-image').get('src')
img_url_rel
# getting the source in side the tags .get()

'image/featured/mars3.jpg'

In [12]:
img_url ="https://spaceimages-mars.com/" + img_url_rel
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [13]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()
# read table in that position

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [14]:
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [32]:
import time

In [37]:
browser.is_element_present_by_text("USGS Astrogeology Science Center", wait_time=1)
hemisphere_image_urls = []
for i in range(4):
    hemisphere = {}
    browser.find_by_css("a.product-item h3")[i].click()
    time.sleep(1)
    sample_elem = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    hemisphere['title'] = browser.find_by_css("h2.title").text
    hemisphere_image_urls.append(hemisphere)
#     html = browser.html
#     hemi_soup = soup(html, "html.parser")
#     hemisphere['img_url'] = hemi_soup.find("a", text="Sample").get("href")
#     hemisphere['title'] = hemi_soup.find("h2", class_="title").get_text()
#     hemisphere_image_urls.append(hemisphere)
    browser.back()
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [38]:
browser.quit()